---
// Area de script (js)
import Layout from "../layouts/layout.astro";
import Title from "../components/astro/Title.astro";
---

<Layout pageTitle="About">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
        dignissimos odit inventore quos hic praesentium autem earum fuga ut
        alias, ad similique. Ipsum impedit labore magnam soluta, dolores
        mollitia officiis.
    </p>
</Layout>
